<h3>Artist Form</h3>
<<<<<<< HEAD
<%= form_for(@artist) do |f| %>
=======
<%= form_for(@song) do |f| %>
>>>>>>> 1222d82ef220cd96509f0ac0cc99ca2ca31b9456
  <label>Name:</label><br>
  <%= f.text_field :name %><br>
  <label>Bio:</label><br>
  <%= f.text_field :bio %><br>
  <%= f.submit %>
<% end %>
